@charset "UTF-8";



.nav-wrapper{
    height: 100px;
}

.mappingood-logo {
    height: 65px;
    width: 200px;
    object-fit: contain;
}

/* トップページのCSS */
.kongetuno_itimai {
    padding-left: 20%;
}

.top_img_area {
    background-color: #fff8dc;
    height: 1000px;
}

.top_img1 {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 900px;
    height: 600px;
    object-fit: contain;
}

.top_img_name {
    text-align: center;
    font-size: 35px;
}

.top_comment {
    font-size: 35px;
    text-align: center;
}

.top_img2 {
    width: 600px;
    height: 400px;
    object-fit: contain;
}

.item {
    padding: 20px;
}

.container_img {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

p {
    text-align: center
}

.junru_area {
    background-color: #fff8dc;
    height: 200px;
}

.kouku_area {
    margin-bottom: 100px;
}

.junru {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
}

.junru button {
    font-size: 1.4em;
    font-weight: bold;
    padding: 10px 30px;
    background-color: #248;
    color: #fff;
    border-style: none;
}

.kouku {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap
}

.kouku button {
    font-size: 1.4em;
    font-weight: bold;
    padding: 10px 30px;
    background-color: #248;
    color: #fff;
    border-style: none;
}

.kouku_ranking_tittle{
    font-size: 50px;
}

.striped td{
    font-size: 25px;
}

/* ーーーーーーーーーーーーーーー */

/* /* 閲覧ページのCSS * */

.container_brows_img {
    display: flex;
    justify-content: center;
}


.browsing_img {
    width: 600px;
    height: 400px;
    object-fit: contain;
}


.browsing_prf {
    font-size: 30px;
}

/* 投稿ページのCSS */
.toukou {
    font-size: 20px;
}

/* ピクチャーページのCSS */

.picturepage_name_kouku {
    font-size: 30px;
}

.picturepage_picture {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 900px;
    height: 600px;
    object-fit: contain;
}

.mappingood {
    font-size: 30px;
    text-align: center;
}

.picturepage_comment {
    font-size: 40px;
    text-align: center;
}

/* ----------------------------- */

/* 、パーソナルページ固有のCSS */

.personalpage_profile {
    font-size: 30px;
}

/* ----------------------------- */